body {
    font-family: 'Inter', serif;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F7DDDD;
    background-image: url(src/assets/HeroBackground.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }