  .centered {
            text-align: center;
        }

        .large {
            font-size: xx-large;
        }

        .medium {
            font-size: medium;
            text-align: left;
        }

        .small {
            font-size: small;
        }