/* selecting based on html tag */

h2{
    background-color:green;
    color:white;
}

h3{
    background-color:cyan;
    color:white;
}

h1,h3{
    color:white;
}

ul
{
    color:red;
}

/* selecting parent child */
ul li
{
    color:blueviolet;
}
li{
    color:green;
}
li a{ color: orange; } /* ul li selects all li that are anywhere within (descending as deep as you like) */
li>a{ color: red; } /* ul>li selects all li that are a direct child of ul whereas  */
ol li
{
    color:chartreuse;
}
/* selecting class element */
.item{
 color:pink;
}

/* selecting by id */
#list-item
{
    color:aqua;
}

/*selecting by type */
input[type="email"]{
    background-color: yellowgreen   
}